@model IEnumerable<TestTaskSP.Models.FileInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Файли</h2>

<p>
    @Html.ActionLink("Додати файл", "Create")
</p>
<table>
    <tr>
        <th>|Назва файлу|</th>
        <th>Розмір|</th>
        <th>IP користувача|</th>
        <th>Кількість символів в файлі|</th>
        <th>Кількість слів в файлі|</th>
        <th>Дата завантаження|</th>
        <th>Опис|</th>
    </tr>
    @foreach (var file in Model)
    {
    <tr>
        <th>@file.FileName</th>
        <th>@file.Size</th>
        <th>@file.Ip</th>
        <th>@file.CountSymbols</th>
        <th>@file.CountWords</th>
        <th>@file.DateDownload</th>
        <th>@file.AdditionalInformation</th>
    </tr>
    }
</table>
